<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Привет, <%= @user.username.capitalize %>!</h4>
    <p>
      Надеюсь, месяц был продуктивным и твоя вера в себя и свои силы укрепилась :) Самое время подвести <strong><a href="http://days.frey.su/">подвести итоги месяца</a></strong> и решить, стоит ли что-то изменить в своей жизни, и если да, то в какую сторону. Я верю в тебя!
    </p>
    <p>Следующий месяц будет еще лучше!</p>
    <small>Твой дневник ;)</small>
  </body>
</html>
