<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Привет, <%= @user.username.capitalize %>!</h4>
    <p>
      Пришли выходные, а это значит, что пора <strong><a href="http://days.frey.su/">подвести итоги недели</a></strong>! Контролируй свою жизнь, изменяй её к лучшему со сворачивающимиси дневниками :)
    </p>
    <p>Удачной недели, твой дневник ;)</p>
  </body>
</html>
