<div class="sidebar">
<h3 class="text-center">Календарь</h3>
  <% if current_user %>
    <ul class="nav nav-pills nav-stacked">
      <% last_week.each do |day| %>
        <li class=<%= 'active' if current_page?(post_path(day.id)) %>>
          <%= link_to nice_russian_date(day.created_at), day %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
