.sidebar
  h3.text-center Календарь
  .week.text-center
    h4 Неделя
    - if current_user
     ul.nav.nav-pills.nav-stacked
      - last_week.reverse.each do |day|
        li class=('active' if current_page? post_path(day.id))
          = link_to nice_russian_date(day.created_at), day

