<% title("Home Page") %>
<h1><i class="fa fa-home"></i> Сворачивающиеся дневники</h1>

<p>
  Суть предельно проста: ежедневно ты пишешь, как прошел твой день, а в конце недели просматриваешь итоги будних дней и подводишь итог всей неделе. А в конце месяца просматриваешь итоги всех четырех недель и подводишь итоги месяца. И, возможно, меняешь что-то в своей жизни, если тебя не устраивает то, как выглядят подводимые тобой итоги.

  Более подробно можно прочитать на [improvement.ru](http://www.improvement.ru/zametki/dnevnik/) в статье Ильи Правского о сворачивающихся дневниках.
</p>
