<% title("Admin") %>
<h1>Admin <small>Home</small></h1>
<div class="row">
  <div class="col-sm-4">
    <h3>Users</h3>
    <h4><%= @count %></h4>

    <hr/>
  </div>

  <div class="col-sm-4">
    <h3>Posts</h3>
    <h4><%= Post.count %></h4>
  </div>

</div>
